# Dependencies
node_modules/

# Next.js
.next/
out/

# Env (secrets)
.env
.env.local
.env.production
.env.vercel
.env*
.env*.local
.env.*.local

# Debug
npm-debug.log*
.pnp.*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
*.swp
.DS_Store
